.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
  }
  
  .sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .sidenav {
    padding: 20px;
  }
 .toolbar {
      /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
    
  }
  .header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .buttonMenu{
    
    width: 100%;
  }
  .buttonMenuPrincipal{
    min-width: 0px;
    border-radius: 100% ;
    background: #3f51b5;
    color: rgba(255,255,255,.87);
    border:0;
  }