.container-card {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  padding: 0% 20% 0% 20%;
  text-align: center;
  
}

.example-container > * {
  width: 100%;
}

.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 16px;
}